<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Complete</title>

    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      body {
        font-family: sans-serif;
      }

      section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      p {
        width: 500px;
        text-align: center;
      }

      ion-icon {
        font-size: 100px;
        color: green;
      }

      h1 {
        font-size: 32px;
        margin-bottom: 15px;
      }

      p {
        font-size: 15px;
      }
    </style>
  </head>
  <body>
    <section>
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <h1>Complete</h1>
      <p>
        Identify verification is in progress, we will notify you via email
        message as soon as your account details have been verified
      </p>
    </section>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
